{% extends 'base.html.twig' %}

{% block title %}Voir Mon Profil {% endblock %}
{% block index %}{% endblock %}
{% block description %}{% endblock %}

{% block body %}
        <main>
                <section class="container">
                        <div class="row bg-white my-3 pb-5">
                                <div class="col col-12 col-md-4 mx-auto">
                                        <img class="rounded-circle d-block" style="max-width: 200px;" src="{{ (app.user.avatar != null)?asset('avatar/' ~ app.user.avatar) : asset('avatar/default.jpg') }}" alt="{{ app.user.firstName }}" >
                                </div>
                                <div class="col col-12 col-md-8">
                                        {{ form(form) }}
                                </div>
                        </div>

                </section>
        </main>
{% endblock %}
