{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
        <div class="container">
                <div class="row mt-5">
                        <div class="col-md-4">
                                <img class="rounded-circle" src="{{ (app.user.avatar != null)?asset('images/avatar/' ~ app.user.avatar) : asset('images/avatar/default.jpg') }}" alt="{{ app.user.firstName }}" >
                        </div>
                        <div class="col-md-8">
                                {{ form(form) }}
                        </div>
                </div>
        </div>


{% endblock %}
