{% extends 'base.html.twig' %}

{% block title %}Update My Password{% endblock %}
{% block index %}{% endblock %}
{% block description %}{% endblock %}

{% block body %}
    <main>
        <section class="container">
            <div  class="row bg-white my-3 pb-5">
                <div class="col col-10 offset-1  col-md-6 offset-md-3">
                    <h1 class="display-4 my-4">Modifier mon mot de passe</h1>
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <input type="submit" value="Modifier" class="btn btn-outline-dark">
                    {{ form_end(form) }}
                </div>
            </div>
        </section>
    </main>

{% endblock %}
