<footer>
    <div class="row primary">
        <div class="column about">
            <h3>Infoox School</h3>
            <p>
                Tous les prépa-concours et épreuves d'examens au BEPC, CAP, BAC, Probatoire...
            </p>
            <div class="social">
                <a href="https://www.facebook.com/groups/271615090410801/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="https://www.instagram.com/dansmacuisinebelge?utm_source=ig_web_button_share_sheet&amp;igsh=ZDNlZDc0MzIxNw=="><i class="fa fa-instagram" aria-hidden="true"></i></a>
                <a href="https://twitter.com/recettesde"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="https://www.youtube.com/channel/UCTV5JjWCAei-PzBmohLQ8Bg"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                <a href="https://wa.me/237670501518"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="column links">
            <h3>Some Links</h3>
            <ul>
                <li>
                    <a href="#faq">F.A.Q</a>
                </li>
                <li>
                    <a href="#cookies-policy">Cookies Policy</a>
                </li>
                <li>
                    <a href="#terms-of-services">Terms Of Service</a>
                </li>
                <li>
                    <a href="#support">Support</a>
                </li>
            </ul>
        </div>
        <div class="column links">
            <h3>Some Links</h3>
            <ul>
                <li>
                    <a href="#faq">F.A.Q</a>
                </li>
                <li>
                    <a href="#cookies-policy">Cookies Policy</a>
                </li>
                <li>
                    <a href="#terms-of-services">Terms Of Service</a>
                </li>
                <li>
                    <a href="#support">Support</a>
                </li>
            </ul>
        </div>
        <div class="column subscribe">
            <h3>Newsletter</h3>
            <div>
                <form action="newslatter.php" method="post">
                    <input type="email" name="newsletter" placeholder="Inserez votre adresse mail">
                    <input type="submit" value="s'abonner">
                </form>
            </div>
        </div>
    </div>

    <div class="row copyright">
        <div class="footer-menu">
            <a href="{{ path('app_home') }}">home</a>
            <a href="{{ path('app_contact') }}">nous contactez</a>
        </div>
        <p>Copyright © 2025 Cury Developer</p>
    </div>
</footer>