{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}
{% block index %}{% endblock %}
{% block description %}{% endblock %}

{% block body %}


    <main>
        <section class="container">
            <div class="row bg-white my-3 pb-5">
                <div class="col col-10 offset-1  col-md-6 offset-md-3">

                <h1 class="display-4 my-4">Reset your password</h1>

                {{ form_start(resetForm) }}
                {{ form_row(resetForm.plainPassword) }}
                <button class="btn btn-lg btn-outline-dark mt-3" type="submit">
                    Réinitialisé
                </button>
                {{ form_end(resetForm) }}


                </div>
            </div>
        </section>
    </main>
{% endblock %}

