@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
.linkStyle1 {
  line-height: 40px;
  text-decoration: underline white;
  text-decoration-thickness: 3px;
  text-underline-offset: 8px;
  font-family: "Roboto Condensed", sans-serif;
  transition: color ease-in 250ms;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: black;
}
.linkStyle1:hover {
  color: yellow;
}

/* Setting Scale 1.067 */
html {
  scroll-behavior: smooth;
  scroll-padding-top: 230px;
  font-size: 1rem;
  color: #0E182D;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

body {
  background-color: #dcd7d7;
  width: 100%;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cormorant Garamond", serif;
  color: #0E182D;
}

h1::first-letter,
h2::first-letter,
h3::first-letter,
h4::first-letter,
h5::first-letter,
h6::first-letter {
  text-transform: uppercase;
}

h3,
h4,
h5,
h6 {
  font-weight: 600;
}

h1 {
  font-size: calc(1.476rem + 0.1vw);
  font-weight: bold;
}

h2 {
  font-size: calc(1.383rem + 0.1vw);
  font-weight: 700;
  text-transform: capitalize;
  padding-left: 12px;
}

h3 {
  position: relative;
  font-size: calc(1.296rem + 0.1vw);
}

h4 {
  font-size: calc(1.215rem + 0.1vw);
}

h5 {
  font-size: calc(1.138rem + 0.1vw);
}

h6 {
  font-size: calc(1.067rem + 0.1vw);
}

p {
  font-size: calc(1rem + 0.1vw);
}

.small, .voirPlus {
  font-size: calc(0.937rem + 0.1vw);
}

a {
  text-decoration: none;
}

.oneLine {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.twoLine {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  line-height: 1.2; /* Ajuste cette valeur selon la hauteur de ligne désirée */
  min-height: 2.4em;
}

.fiveLine {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  min-height: 2.4em;
}

.voirPlus {
  display: block;
  color: #6C745C;
}

/* endSetting */
/* Navbar principale*/
.navPrincipal {
  background: #0E182D;
}
.navPrincipal .logo {
  height: 30px;
  width: auto;
}
.navPrincipal .navbar-toggler {
  color: #0E182D;
}
.navPrincipal .container-fluid.navPc {
  display: none;
}
.navPrincipal .container-fluid .nav-item {
  border-bottom: 1px solid #dfd9e3;
}
.navPrincipal .container-fluid .nav-item .nav-link {
  color: rgb(250, 250, 250);
  text-indent: 10px;
}
.navPrincipal .container-fluid .nav-item .nav-link.active {
  background: rgba(75, 75, 75, 0.7);
}
.navPrincipal .container-fluid .nav-item .nav-link:hover {
  background: rgba(75, 75, 75, 0.7);
}
.navPrincipal .container-fluid .offcanvas {
  background: #0E182D;
}
.navPrincipal .container-fluid .offcanvas .offcanvas-title {
  color: rgb(250, 250, 250);
}
.navPrincipal .user {
  display: flex;
}
.navPrincipal .user img {
  width: 2rem;
}
.navPrincipal .searchButton {
  background: #D5B42E;
  padding: 9px 15px;
  right: 20px;
  border: none;
}
.navPrincipal .inputSearch {
  background: #F3EDED;
}

.phone {
  display: block;
}

.pc {
  display: none;
}

/* endNavbar principale*/
/* Navbar secondaire */
.navbar2Infoox, .infooxNavbar2Contains {
  position: relative;
  background-color: rgb(250, 250, 250);
  width: 100%;
  height: auto;
  overflow: hidden;
}
.navbar2Infoox .containerInfoox, .infooxNavbar2Contains .containerInfoox {
  overflow-x: scroll;
  overflow-y: hidden;
}
.navbar2Infoox .containerInfoox ul, .infooxNavbar2Contains .containerInfoox ul {
  display: flex;
  margin: 0;
  padding: 0;
}
.navbar2Infoox .containerInfoox ul li, .infooxNavbar2Contains .containerInfoox ul li {
  list-style: none;
  flex: 0 0 auto;
}
.navbar2Infoox .containerInfoox ul li a, .infooxNavbar2Contains .containerInfoox ul li a, .navbar2Infoox .containerInfoox ul li.nolienkInfoox, .infooxNavbar2Contains .containerInfoox ul li.nolienkInfoox {
  display: block;
  margin: 7px 10px;
  text-decoration: none;
  color: #0E182D;
  padding: 10px 40px;
}
.navbar2Infoox.pc .containerInfoox, .pc.infooxNavbar2Contains .containerInfoox {
  overflow-x: hidden;
  display: flex;
  justify-content: space-between;
}
.navbar2Infoox.pc .containerInfoox ul li a img, .pc.infooxNavbar2Contains .containerInfoox ul li a img {
  width: 40px;
}

.infooxNavbar2Contains {
  position: absolute;
  z-index: 1;
}
.infooxNavbar2Contains .containerInfoox ul li a {
  padding: 0px;
  margin: 0 15px;
}
.infooxNavbar2Contains .card {
  background-color: #5C5C5C;
}
.infooxNavbar2Contains img {
  height: 250px;
}

/* endNavbar secondaire */
/* sliderPrincipale */
/* endSliderPrincipale */
/* sliderExamens */
#examen.forHome {
  position: relative;
}
#examen.forHome .examensSlider {
  position: absolute;
  width: 100%;
  top: -80px;
  overflow: hidden;
}
#examen .card {
  width: 150px !important;
  text-decoration: none;
  margin-left: 10px;
}
#examen .card .imgInfoox {
  position: relative;
  width: 80%;
  height: 100px;
  overflow: hidden;
  margin: 5px auto;
}
#examen .card .imgInfoox img {
  width: 100%;
  height: auto;
  max-height: 100px;
  object-fit: cover;
}
#examen .card .card-body .card-title {
  color: #E31524;
  font-size: 1.44rem;
}

/* sliderExamens */
/*menu dynamic*/
.MenuPage {
  width: 100%;
  height: 100%;
  background: #0E182D;
  color: rgb(250, 250, 250);
}
.MenuPage h6 {
  color: rgb(250, 250, 250);
  font-size: 40px;
  margin-left: 10px;
}
.MenuPage h2 {
  font-size: 15px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: lighter;
  text-transform: lowercase;
  color: rgb(250, 250, 250);
  line-height: 30px;
}
.MenuPage h2::first-letter {
  text-transform: uppercase;
}
.MenuPage h2:hover {
  border: 0.3px solid rgb(250, 250, 250);
}

/* end menu dynamic*/
/* debut footer */
footer {
  background-color: #0E182D;
  color: rgb(250, 250, 250);
  font-size: 16px;
  overflow: hidden;
}
footer * {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  border: none;
  outline: none;
}
footer .row {
  padding: 1em 1em;
}
footer .row.primary {
  display: grid;
  grid-template-columns: 1fr;
  align-items: stretch;
}
footer .column {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 15em;
}
footer h3 {
  width: 100%;
  text-align: left;
  color: white;
  font-size: 1.4em;
  white-space: nowrap;
}
footer .about h3 {
  text-transform: capitalize;
  font-family: "Dancing Script", cursive;
  font-size: 1.8em;
}
footer ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  margin-top: 10px;
}
footer ul li:not(:first-child) {
  margin-top: 0.8em;
}
footer ul li a {
  color: #D5B42E;
  text-decoration: none;
}
footer ul li a:hover {
  color: rgb(250, 250, 250);
}
footer .about p {
  text-align: justify;
  line-height: 2;
  margin: 0;
}
footer form {
  max-width: 100%;
}
footer form input {
  font-size: 1em;
  padding: 0;
  width: 100%;
  max-width: 100%;
  border-radius: 5px;
  margin-bottom: 5px;
  font-family: "Cormorant Garamond", serif;
}
footer form input[type=submit] {
  background-color: #6C745C;
  color: rgb(250, 250, 250);
  font-size: 18px;
  font-weight: 700;
  text-transform: capitalize;
  width: 100%;
  padding: 10px 0;
}
footer form input[type=submit]:hover {
  background-color: #5C5C5C;
  color: #D5B42E;
}
footer form input[type=email] {
  border: 2px solid #F3EDED;
  width: 100%;
  background-color: rgb(250, 250, 250);
  margin-bottom: 20px;
  text-indent: 20px;
  font-size: 20px;
  line-height: 50px;
  color: #0E182D;
}
footer div.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 2.4em;
  flex-direction: row;
  margin-top: 0.5em;
}
footer .social i {
  color: #bac6d9;
}
footer .copyright {
  padding: 1.3em 1em;
}
footer .footer-menu {
  float: left;
  text-transform: capitalize;
}
footer .footer-menu a {
  color: #cfd2d6;
  padding: 6px;
  text-decoration: none;
}
footer .footer-menu a:hover {
  color: rgb(250, 250, 250);
}
footer .copyright p {
  font-size: 0.9em;
  text-align: right;
}

/* end footer */
/* Tablette */
@media screen and (min-width: 768px) {
  /* seting */
  h1 {
    font-size: calc(1.476rem + 0.2vw);
  }
  h2 {
    font-size: calc(1.383rem + 0.2vw);
  }
  h3 {
    font-size: calc(1.296rem + 0.2vw);
  }
  h4 {
    font-size: calc(1.215rem + 0.2vw);
  }
  h5 {
    font-size: calc(1.138rem + 0.2vw);
  }
  h6 {
    font-size: calc(1.067rem + 0.2vw);
  }
  p {
    font-size: calc(1rem + 0.2vw);
  }
  .small, .voirPlus {
    font-size: calc(0.937rem + 0.1vw);
  }
  /* endSeting */
  /* Navbar */
  .navPrincipal .logo {
    height: 35px;
  }
  /* endNavbar */
  /* sliderExamens */
  #examen.forHome .examensSlider {
    top: unset;
    bottom: -50px;
  }
  #examen .card {
    width: 250px !important;
    margin-left: 0px;
  }
  #examen .card .imgInfoox {
    width: 80%;
    height: 150px;
    margin: 10px auto;
  }
  #examen .card .imgInfoox img {
    max-height: 150px;
  }
  /* sliderExamens */
  /* Footer Tab*/
  footer {
    padding-top: 30px;
  }
  footer .row.primary {
    grid-template-columns: 2fr 1fr 1fr 2fr;
  }
  footer .row {
    padding: 0 2em;
  }
  /* endFooter  Tab*/
}
/* endTablette */
/* Desktops */
@media screen and (min-width: 992px) {
  .phone {
    display: none;
  }
  .pc {
    display: block;
  }
  .navPrincipal .navPhone {
    display: none !important;
  }
  .navPrincipal .container-fluid.navPc {
    display: flex;
  }
  /* sliderPrincipale img x890px */
  .sliderPrincipaleInfoox {
    width: 100%;
    overflow: hidden;
  }
  /* endSliderPrincipale */
  /* sliderExamens */
  #examen.forHome .examensSlider {
    bottom: -120px;
  }
  .slick-slide {
    margin: 0 20px;
  }
  .slick-slide img {
    width: 100%;
  }
  .slick-prev:before,
  .slick-next:before {
    color: red;
    z-index: 3;
    position: absolute;
    font-size: 40px;
  }
  .slick-next:before {
    right: 30px;
  }
  .slick-prev {
    z-index: 1;
  }
  .slick-prev:before {
    left: 30px;
  }
  .slick-slide {
    transition: all ease-in-out 0.3s;
  }
  /* endsliderExamens */
  /* debut bookSlide*/
  .slideBooks .slick-slide {
    margin: 0 10px;
  }
  /* fin bookSlide*/
}
/* endDesktops */
#homePage .filieres {
  position: relative;
  margin-top: 160px;
  box-shadow: 0 20px 44px rgba(255, 255, 255, 0.25);
}
#homePage .filieres .col {
  margin-top: 10px;
}
#homePage .filieres .col:nth-child(7), #homePage .filieres .col:nth-child(8), #homePage .filieres .col:nth-child(9), #homePage .filieres .col:nth-child(10), #homePage .filieres .col:nth-child(11), #homePage .filieres .col:nth-child(12) {
  display: none;
}
#homePage .filieres .col a {
  text-decoration: none;
}
#homePage .filieres .col a h2 {
  font-size: 20px;
  color: #0E182D;
  padding-left: 0;
}

#bookPage #infoBook .infoBookContainer, #pdfPage #infoBook .infoBookContainer {
  background: rgb(250, 250, 250);
  /*debut du sommaire */
}
#bookPage #infoBook .infoBookContainer .bookImage, #pdfPage #infoBook .infoBookContainer .bookImage {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 200px;
  height: auto;
  text-align: end;
}
#bookPage #infoBook .infoBookContainer .bookPrice, #pdfPage #infoBook .infoBookContainer .bookPrice {
  font-size: 20px;
}
#bookPage #infoBook .infoBookContainer .imagesBook, #pdfPage #infoBook .infoBookContainer .imagesBook {
  height: auto;
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  padding-bottom: 5px;
}
#bookPage #infoBook .infoBookContainer .imagesBook a, #pdfPage #infoBook .infoBookContainer .imagesBook a {
  position: relative;
  display: inline-block;
  width: 90px;
  flex: 0 0 90px;
  margin-right: 10px;
}
#bookPage #infoBook .infoBookContainer .imagesBook a img, #pdfPage #infoBook .infoBookContainer .imagesBook a img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}
#bookPage #infoBook .infoBookContainer .somaire a, #pdfPage #infoBook .infoBookContainer .somaire a {
  color: black;
  text-decoration: none;
}
#bookPage #infoBook .infoBookContainer .somaire .q, #pdfPage #infoBook .infoBookContainer .somaire .q {
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
  font-size: 18px;
  color: white;
  width: 100%;
  border-bottom: 1px solid #ccc;
  font-weight: lighter;
  font-family: sans-serif;
  background: black;
  margin-top: 0px;
  text-decoration: none;
  text-transform: lowercase;
}
#bookPage #infoBook .infoBookContainer .somaire .q a, #pdfPage #infoBook .infoBookContainer .somaire .q a {
  text-decoration: none;
  color: orange;
}
#bookPage #infoBook .infoBookContainer .somaire .q h2, #pdfPage #infoBook .infoBookContainer .somaire .q h2 {
  position: relative;
  display: inline;
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  height: 100%;
  color: rgb(250, 250, 250);
  font-family: "Roboto Condensed", sans-serif;
}
#bookPage #infoBook .infoBookContainer .somaire .j, #pdfPage #infoBook .infoBookContainer .somaire .j {
  position: relative;
  width: 100%;
  height: auto;
  padding: 10px 0;
  overflow: hidden;
}
#bookPage #infoBook .infoBookContainer .somaire .j ul, #pdfPage #infoBook .infoBookContainer .somaire .j ul {
  position: relative;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
  background: #ffffff;
  padding: 0;
  margin: 0;
  transition: 0.5s;
  cursor: pointer;
}
#bookPage #infoBook .infoBookContainer .somaire .j ul li, #pdfPage #infoBook .infoBookContainer .somaire .j ul li {
  list-style: none;
  width: 100%;
  height: 40px;
  border-top: 1px solid black;
  border-bottom: 1px solid white;
  display: block;
  transition: 0.5s;
  margin: 0;
  padding: 0;
  line-height: 40px;
}
#bookPage #infoBook .infoBookContainer .somaire .j ul li:last-child, #pdfPage #infoBook .infoBookContainer .somaire .j ul li:last-child {
  border-bottom: 1px solid black;
}
#bookPage #infoBook .infoBookContainer .somaire .j ul li:hover, #pdfPage #infoBook .infoBookContainer .somaire .j ul li:hover {
  height: 48px;
  background: black;
}
#bookPage #infoBook .infoBookContainer .somaire .j ul li .m, #pdfPage #infoBook .infoBookContainer .somaire .j ul li .m {
  position: relative;
  width: 63%;
  height: 40px;
  line-height: 40px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: inline-block;
}
#bookPage #infoBook .infoBookContainer .somaire .j ul li .m h2, #pdfPage #infoBook .infoBookContainer .somaire .j ul li .m h2 {
  position: relative;
  display: inline;
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  height: 100%;
  color: black;
  font-family: "Roboto Condensed", sans-serif;
}
#bookPage #infoBook .infoBookContainer .somaire .j ul li:hover .m, #pdfPage #infoBook .infoBookContainer .somaire .j ul li:hover .m {
  height: 48px;
  line-height: 48px;
}
#bookPage #infoBook .infoBookContainer .somaire .j ul li:hover .m h2, #pdfPage #infoBook .infoBookContainer .somaire .j ul li:hover .m h2 {
  font-size: 20px;
  color: orange;
  width: 100%;
  height: 100%;
}
#bookPage #infoBook .infoBookContainer .somaire .j ul li .k, #bookPage #infoBook .infoBookContainer .somaire .j ul li .l, #pdfPage #infoBook .infoBookContainer .somaire .j ul li .k, #pdfPage #infoBook .infoBookContainer .somaire .j ul li .l {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  overflow: hidden;
}
#bookPage #infoBook .infoBookContainer .somaire .j ul li:hover .k, #bookPage #infoBook .infoBookContainer .somaire .j ul li:hover .l, #pdfPage #infoBook .infoBookContainer .somaire .j ul li:hover .k, #pdfPage #infoBook .infoBookContainer .somaire .j ul li:hover .l {
  width: 45px;
  height: 45px;
}
#bookPage #infoBook .infoBookContainer .somaire .j ul li .k a, #bookPage #infoBook .infoBookContainer .somaire .j ul li .l a, #pdfPage #infoBook .infoBookContainer .somaire .j ul li .k a, #pdfPage #infoBook .infoBookContainer .somaire .j ul li .l a {
  text-decoration: none;
  width: 100%;
  height: 100%;
}
#bookPage #infoBook .infoBookContainer .somaire .j ul li .k .fa, #bookPage #infoBook .infoBookContainer .somaire .j ul li .l .fa, #pdfPage #infoBook .infoBookContainer .somaire .j ul li .k .fa, #pdfPage #infoBook .infoBookContainer .somaire .j ul li .l .fa {
  position: relative;
  height: 100%;
  width: 100%;
  line-height: 40px;
  font-size: 28px;
  color: rgba(0, 0, 0, 0.6);
  display: block;
  transition: 0.5s;
}
#bookPage #infoBook .infoBookContainer .somaire .j ul li:hover .k .fa, #bookPage #infoBook .infoBookContainer .somaire .j ul li:hover .l .fa, #pdfPage #infoBook .infoBookContainer .somaire .j ul li:hover .k .fa, #pdfPage #infoBook .infoBookContainer .somaire .j ul li:hover .l .fa {
  line-height: 45px;
  font-size: 32px;
  color: white;
}
#bookPage #infoBook .infoBookContainer .somaire .j ul li .k .fa:last-child, #bookPage #infoBook .infoBookContainer .somaire .j ul li .l .fa:last-child, #pdfPage #infoBook .infoBookContainer .somaire .j ul li .k .fa:last-child, #pdfPage #infoBook .infoBookContainer .somaire .j ul li .l .fa:last-child {
  color: orange;
}
#bookPage #infoBook .infoBookContainer .somaire .j ul li .k a:hover .fa, #bookPage #infoBook .infoBookContainer .somaire .j ul li .l a:hover .fa, #pdfPage #infoBook .infoBookContainer .somaire .j ul li .k a:hover .fa, #pdfPage #infoBook .infoBookContainer .somaire .j ul li .l a:hover .fa {
  transform: translateY(-100%);
}
#bookPage #infoBook .infoBookContainer .somaire .j ul li .l, #pdfPage #infoBook .infoBookContainer .somaire .j ul li .l {
  margin-left: 70px;
}
#bookPage #infoBook .infoBookContainer .somaire .j ul li.v, #pdfPage #infoBook .infoBookContainer .somaire .j ul li.v {
  background: #000;
}
#bookPage #infoBook .infoBookContainer .somaire .j ul li.v .m h2, #pdfPage #infoBook .infoBookContainer .somaire .j ul li.v .m h2 {
  color: orange;
}
#bookPage #infoBook .infoBookContainer .somaire .j ul li.v .k .fa:first-child, #bookPage #infoBook .infoBookContainer .somaire .j ul li.v .l .fa:first-child, #pdfPage #infoBook .infoBookContainer .somaire .j ul li.v .k .fa:first-child, #pdfPage #infoBook .infoBookContainer .somaire .j ul li.v .l .fa:first-child {
  color: rgb(250, 250, 250);
}
#bookPage #infoBook .infoBookContainer .somaire .j ul li.v .k.w .fa, #bookPage #infoBook .infoBookContainer .somaire .j ul li.v .l.w .fa, #pdfPage #infoBook .infoBookContainer .somaire .j ul li.v .k.w .fa, #pdfPage #infoBook .infoBookContainer .somaire .j ul li.v .l.w .fa {
  color: orange;
}
#bookPage #infoBook .infoBookContainer .u, #pdfPage #infoBook .infoBookContainer .u {
  position: relative;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 19px;
  color: orange;
  width: 100%;
  border-top: 2px solid orange;
  border-bottom: 2px solid orange;
  font-family: sans-serif;
  font-weight: 100;
  margin-top: 0px;
  text-decoration: none;
  background: black;
}
#bookPage #infoBook .infoBookContainer .u a, #pdfPage #infoBook .infoBookContainer .u a {
  color: #D5B42E;
}

#booksPage #books .booksContainer {
  background-color: rgb(250, 250, 250);
}

/* Tablette */
@media screen and (min-width: 768px) {
  #homePage .filieres {
    margin-top: 60px;
  }
  #bookPage #infoBook .infoBookContainer, #pdfPage #infoBook .infoBookContainer {
    /*debut du sommaire */
  }
  #bookPage #infoBook .infoBookContainer .somaire .j ul li .m, #pdfPage #infoBook .infoBookContainer .somaire .j ul li .m {
    width: 85%;
  }
  #bookPage #infoBook .infoBookContainer .u, #pdfPage #infoBook .infoBookContainer .u {
    position: relative;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 19px;
    color: orange;
    width: 100%;
    border-top: 2px solid orange;
    border-bottom: 2px solid orange;
    font-family: sans-serif;
    font-weight: 100;
    margin-top: 0px;
    text-decoration: none;
    background: black;
  }
  #bookPage #infoBook .infoBookContainer .u a, #pdfPage #infoBook .infoBookContainer .u a {
    color: #D5B42E;
  }
}
/* endTablette */
/* Desktops */
@media screen and (min-width: 992px) {
  #homePage .filieres {
    margin-top: 135px;
  }
  #homePage .filieres .col {
    margin-top: 30px;
  }
  #homePage .filieres .col:nth-child(7), #homePage .filieres .col:nth-child(8), #homePage .filieres .col:nth-child(9), #homePage .filieres .col:nth-child(10), #homePage .filieres .col:nth-child(11), #homePage .filieres .col:nth-child(12) {
    display: block;
  }
}
/* endDesktops */

/*# sourceMappingURL=app.css.map */
